.header {
  display: flex;
  width: 100%;
  gap: 2rem;
  padding: var(--horizontal-padding);
  padding-top: 100px;
  color: #ffffff;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 2rem;
}

.image {
  flex: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}
