@use 'sass:map';
@import '../variables';

.header {
  width: 100%;
  background: linear-gradient(180deg, #004077 0%, rgba(0, 0, 0, 0) 100%);
}

.wrapper {
  width: 100%;
  flex: 1 0 auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--layout-padding);

  form {
    width: 100%;
    margin: 4rem 0;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08),
      0px 8px 16px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;

    .inputComponent {
      width: 100%;
      max-width: 517px;
      height: 56px;
      border-radius: 4px 4px 0px 0px;
      border-bottom: 1px solid #0d0d0d4d;
      background: #eeeff1;
      padding: 7px 12px 11.5px 12px;
      margin-bottom: 37px;

      label {
        color: rgba(60, 60, 67, 0.66);
        font-family: Roboto;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .mobile {
        width: 30px;
        color: #0e0e0e;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      input {
        width: 100%;
        background: #eeeff1;
        height: 18px;
        color: rgba(60, 60, 67, 0.66);
      }
      input:focus {
        outline: none;
      }
    }

    button {
      width: 270px;
      height: 48px;
      border-radius: 8px;
      background: #004077;
      color: #fff;
      text-align: center;
      font-family: Roboto;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      margin: 58px 0;
    }
  }
}

@media (max-width: map.get($grid-breakpoints, 'lg')) {
  .wrapper {
    padding: 0 1rem;

    form {
      padding: 2rem 1rem;
    }
  }
}
