.button {
  border-radius: 6px;
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  height: 32px;

  &-outline {
    border-color: #b6bcc3;
    background-color: #000;
  }

  &-main {
    background-color: #004077;
  }
}
