@use 'sass:map';
@import './variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --layout-padding: 0 20%;
  --main-font-size: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  height: 100vh;
  font-size: var(--main-font-size);
}

@media (max-width: map.get($grid-breakpoints, 'lg')) {
  :root {
    --main-font-size: 0.75rem;
    --layout-padding: 0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
