.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20%;
  width: 100%;
  height: 80px;
  backdrop-filter: blur(10px);

  z-index: 100;
  position: fixed;

  &_item {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &_buttons {
    display: flex;
    gap: 1rem;
  }
}

.navbar {
  .homeLink {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &_item {
    &:hover,
    &-active {
      .navbar_label {
        border-color: #b6bcc3;
      }
    }
  }

  &_label {
    border-bottom: 1px solid transparent;
    transition: all 300ms linear;
  }
}

.footer {
  background: #000;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  justify-self: flex-end;

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &_item {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }

  .geoLink {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 4px;
    cursor: pointer;

    &_icon {
      width: 15px;
      height: 15px;
    }

    &_label {
      transition: all 300ms linear;
      border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
    }
    &:hover {
      .geoLink_label {
        border-color: rgba(255, 255, 255, 0.8);
      }
    }
  }

  .social {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .separator {
    width: 100%;
    height: 1px;
    background: #464649;
  }
}
