@use 'sass:map';
@import '../../variables';

.teaser {
  display: flex;
  gap: 4rem;
  background: #fff;
  color: #0e0e0e;
  padding: 0 1rem;
  // width: 100%;
}

.content {
  display: flex;
  // flex: 1;
  flex-direction: column;
  gap: 2rem;
}

.header {
  display: flex;
  &_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &_title {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;

    span {
      border-bottom: 1px solid #b6bcc3;
    }
  }

  &_label {
    font-size: 15px;
    font-weight: 400;
    line-height: 22.4px;
  }
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.smallImageContainer {
  display: none;
  padding: 1rem;

  img {
    width: 100%;
    min-width: 86px;
    height: auto;
  }
}

.cards {
  display: flex;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  // width: 230px;
  gap: 0.5rem;
  flex: 1;

  &_title {
    font-size: 18px;
    font-weight: 600;
    line-height: 25.2px;
  }

  &_label {
    color: rgba(13, 13, 13, 0.7);
    font-size: 15px;
    font-weight: 400;
    line-height: 22.4px;
  }
}

@media (max-width: map.get($grid-breakpoints, 'lg')) {
  .imageContainer {
    display: none;
  }

  .smallImageContainer {
    display: block;
  }
}
