.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  .homeLink {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &_item {
    &:hover,
    &-active {
      .navbar_label {
        border-color: #b6bcc3;
      }
    }
  }

  &_label {
    border-bottom: 1px solid transparent;
    transition: all 300ms linear;
  }
}
