.guard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guardComponent {
  border-radius: 4px;
  background: #f5f7f9;
  height: 56px;
  display: inline-flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: rgba(13, 13, 13, 0.7);
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  width: 400px;
}

.bottomText {
  margin-top: 1rem;
  color: rgba(13, 13, 13, 0.7);
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
}
